@media all and (max-width: 1000px) {
    .conteiner, .menu, .mainPart, .newFooter {
        width: 100%;
    }
    #pageTitle {
        padding: 20px 0 20px 20px;
    }
    .form {
        padding: 5px 20px;
    }
    .user {
        margin: 20px;
    }

}

@media all and (max-width: 770px) {
    .conteiner, .menu, .mainPart, .newFooter {
        width: 100%;
    }
    #pageTitle {
        padding: 15px 0 15px 15px;
    }
    .form {
        padding: 5px 15px;
    }
    .user {
        margin: 15px;
    }
    .searchPlace {
        width: 170px;
        height: 30px;
    }
    .buttons {
        padding-bottom: 25px;
    }
}

@media all and (max-width: 650px) {
    .conteiner, .menu, .mainPart, .newFooter {
        width: 100%;
    }
    #pageTitle {
        padding: 15px 0 15px 15px;
        font-size: 25px;
    }
    .submenu {
        border-right: none;
    }
    .content {
        border-left: solid #e0e4ed 1px;
    }
    .buttons {
        padding-bottom: 25px;
    }
}

@media all and (min-width: 550px) {
    .menuMobile{
        display:none !important;
    }
}

@media all and (max-width: 550px) {
    .conteiner, .menu, .mainPart, .newFooter {
        width: 100%;
    }
    .submenu, .navigation, label, .copyright, .header, .form {
        display: none;
    }
    .headerMobile {
        display: block;
    }
    .content {
        margin-left: 0;
    }
    #logo {
        width: 32px;
        height: 20px;
        margin: 18px 0 18px 6px;
    }
    #pageTitle {
        padding: 15px 0 15px 15px;
        font-size: 35px;
        text-align: center;
    }
    .userInfo, .tags {
        font-size: 14px;
    }
    .title {
        font-size: 18px;
    }
    .text {
        font-size: 16px;
    }
    .buttons {
        padding-bottom: 30px;
    }
    .btn {
        padding: 15px 25px 15px 20px;
    }
    .formMobile {
        display: block;
    }
}



